extends partials/layout

append config
  - var current = 'form'

block main 

  section#portfolio
    .container
      .row
        .col-lg-12.text-center
          h2 Example Customer Form
          hr.star-primary

      .row
          .col-lg-8.col-md-offset-2.text-center

            p.text-justify.lead
              | Below is a typical registration form that you might use to collect
              | contact information from your customers. This example shows how by 
              | simply including the #{productName} control you can add compliant 
              | marketing questions to your form. 

            p.text-justify.small
              | By listening for the click event of the submit button, you can then
              | use the same control to safely submit and save the customers choices.
              | By default the questions are rendered using bootstrap compatible styles
              | however you can customise all aspects of the controls appearance
              | to suite your own style, but remember, you are not allowed to change
              | the text of the questions that are asked, because to do so would mean
              | we could no longer guarantee your compliance.

            form.form-horizontal(action='/login',method='POST')#example-form

              hr

              .form-group.form-group-lg
                
                label.col-sm-2.control-label(for='first-name') First Name
                .col-sm-10
                    input.form-control.input-lg(type='text')#first-name

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='last-name') Last Name
                .col-sm-10
                    input.form-control.input-lg(type='text')#last-name

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='email-address') Email
                .col-sm-10
                    input.form-control.input-lg(type='text')#email

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='email-address') Mob Tel
                .col-sm-10
                    input.form-control.input-lg(type='text')#mob-tel

              hr

              .form-group.form-group-lg
              
                label.col-sm-2.control-label(for='house-number') House No.
                .col-sm-5
                    input.form-control.input-lg(type='text')#house-number

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='street-name') Street
                .col-sm-10
                    input.form-control.input-lg(type='text')#street-name

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='town-name') Town
                .col-sm-10
                    input.form-control.input-lg(type='text')#town-name

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='county-name') County
                .col-sm-10
                    input.form-control.input-lg(type='text')#county-name

              .form-group.form-group-lg

                label.col-sm-2.control-label(for='post-code') Post Code
                .col-sm-5
                    input.form-control.input-lg(type='text')#post-code

              hr

              .col-md-offset-2.text-left#dpa-container

              br

              .form-group.form-group-lg
                  input.btn.btn-lg.btn-primary(type='button',value='Submit')#submit
