extends partials/portallayout

append config
  - var current = 'gettingstarted'
  - var header = 'Getting Started'

block head

  style.
    .vertical-text {
      height: 20rem;
      position: relative;
      transform-origin: right, top;
      -ms-transform: rotate(-90deg);
      -ms-transform-origin: right, top;
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: right, top;
      position: absolute;
      color: lightgrey;
      text-align: -webkit-auto;
      font-size: 37px;
      font-weight: 100;
      width: 16rem;
      position: relative;
      overflow: hidden;
      margin-left: 26px;
    }

block portal-main

  .row
    .col-xs-12
      ul.nav.nav-tabs
        li.active
          a(href="#node_js", data-toggle="tab" data-bind="click: tab('node_js')") Node.js
        li
          a(href="#python", data-toggle="tab" data-bind="click: tab('python')") Python
        li
          a(href="#php", data-toggle="tab" data-bind="click: tab('php')") PHP
        li.pull-right.client-id-label Client ID:
          span #{user._json.app_metadata.tenant_id}

  .tab-content.mt-2
    .tab-pane.fade.in.active#node_js

      include gettingstarted_nodejs

    .tab-pane.fade.active#Python
    .tab-pane.fade.active#PHP
