extends partials/layout

append config
  - var current = 'index'

block main  
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', 
    { 
      auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}', 
          responseType: 'code', 
          params: {
            scope: 'openid name email picture'
          }
      }, 
      additionalSignUpFields: [
      {
        name: "companyName",
        placeholder: "enter your company name",
        icon: "/images/company.png",
        validator: function(name) {
          return {
            valid: name.length >= 3,
            hint: "Please enter your full company name"
          };
        }
      }]
    });
    
    lock.show();

  
