extends partials/portallayout

append config
  - var current = 'error'
  - var header = 'We are having a little trouble'

block portal-main

    .row
        .col-xs-12
          p There was a problem with your submission
