extends partials/portallayout

append config
  - var current = 'welcome'
  - var header = 'Welcome!'

block portal-main

    .row
        .col-xs-12
          p Welcome to Ticki! Your subscription has been started today.
