header
  .container
    .row
      .col-lg-12
        .header-image
          img.img-responsive(src='images/checkbox.svg', alt='')
        .intro-text
          span.name tickr
          hr.star-light
          span.skills Always Compliant, Never Tedious