extends layout

block config
  - var header = "Customer Portal"

mixin menuLink(link, cls, name)
  li
    a(href=link) 
      i.nav-link(class='bi_'+cls) 
      span !{name}

block config
  - var current = 'portal'
  - var pageTitle = 'TICKI - Compliant Marketing Questions'
  - var productName = "TICKI"

block main 
  section#userportal
    .container.root-container
      .row
        .hidden-xs.hidden-sm.col-xs-12.col-sm-3.col-md-2.mt-60.mt-mobile-0

          aside#sidebar
            ul.nav.flex-column
              +menuLink('/portal', 'interface-dashboard', 'Dashboard')
              +menuLink('/portal/gettingstarted', 'setting-airplane', 'Getting Started')
              +menuLink('/portal/hostedpages', 'doc-profile-a', 'Hosted Pages')
              +menuLink('/portal/reports', 'doc-papers', 'Reports')

        .col-xs-10.col-md10
          .row
            .col-lg-12.text-left
              h1.pull-left.portal-header #{header}
              
              if (user.trial && user.trial.on_trial)
                a.pull-right
                  if (user.trial.days_remaining > 0)
                    i.bi_time-clock Your trial period runs out in #{user.trial.days_remaining} days. Click here to subscribe.
                  else 
                    if (user.trial.days_remaining == 0)
                      i.bi_time-clock Your trial period runs out today. Click here to subscribe.
                    else
                      i.bi_time-clock Your trial period has ran out. Click here to subscribe
          .row
            .col-lg-12
              hr
              
          .row
            .col-lg-12.text-left

              block portal-main